#preloader {
position: fixed;
top: 0;
left: 0;
right:0;
bottom: 0;
width: 100%;
height: 100%;
display: block;
z-index: 99999;
background:rgba(255,255,255,0.97);
}
#preloader .wrapper {
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
}
#preloader .spinner, .spinner-only {
border-color:#ff3f4a;
}